* {
    box-sizing: border-box;
}
.auteur {
    text-align: center;
    font-style: normal;
    font-size: 15px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content {
    display: flex;
}
.button {
    border: solid 3px blue;
    border-radius: 5px;
    border-bottom-width: 7px;
}
.buttonAdmin {
    border: solid 10px red;
    border-radius: 5px;
    border-bottom-width: 7px;
    background-color: red;
}
footer {
    display: flex;
    background-color: #5eb5e0;
}
.paragraphe {
    width: 25%;
    margin-right: 2%;
    align-items: center;
    text-align: center;
    font-size: 12px;
}
.book {
    display: flex;
}
header {
    display: flex;
    font-size: large;
    background-color: #5eb5e0;
    justify-content: center;
}
div.input_title{
    font-size: 20px;
    color: red;();
}
.book_form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    text-align: center;
}
.authorFormBiography{
    margin: 2% 0 2% 0;
    justify-content: left;
}