{% extends '../base.html.twig' %}

{% block content %}

    <div class="book">{{ book.title }} est un livre d'un genre
        {{ book.genre }} et comporte
        {{ book.nbpages }} pages
    </div>

{% endblock %}