{% extends 'base.html.twig' %}
    {% block content %}

        <div class="align">
            {% for book in book %}
                <div> {{ book.title }}</div>
                <div> {{ book.resume }}</div>
            {% endfor %}
        </div>
    <br>
        <div class="align">
               {% for author in authors %}
                   <div> {{ author.firstName }}</div>
                   <div> {{ author.lastName }}</div>
               {% endfor %}
           </div>
    {% endblock %}